body {
    background-color: #1a1b1e;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .container{
    align-items: center;
  }
  .form-inline {
    /*flex direction is 'row' by default */
    display:flex;
    /* width: 60%; */
  }
  .form-inline input {
    max-width: 60%;
  }
  
  .gifs {
    margin: 0 auto;
    width: 90%;
    display: flex;
    -ms-flex-align: center;
    flex-wrap:wrap;
    justify-content:center;
    /* margin: 0.5rem; */
  }
  
  .gif {
    border-radius: 10px;
    padding: 0 2px;
    margin: 0.5rem;
  }
  
  .loader {
    /* margin-top: 2rem; */
    color: blue;
  }

.paginate-sm :hover{
    color: darkblue;
  }